<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  <title>Budget Show View</title>
</head>
<body>
  <div class="container">
    <h1><%= budget.name %></h1>
    <p>
      <strong>Tags:</strong> 
      <% for (let i = 0; i < budget.tags.length; i++) { %>
        <% if(i === budget.tags.length - 1) { %>
          <%= budget.tags[i] %>
        <% } else { %>
          <%= budget.tags[i] + "," %>
        <% } %>
      <% } %>
    </p>
    <ul>
      <li><strong>Date:</strong> <%= budget.date %></li>
      <li><strong>Amount:</strong> <%= budget.amount %></li>
      <li><strong>From:</strong> <%= budget.from %></li>
    </ul>
    <a href='/budget'>
      <button>Home</button>
    </a>
  </div>
</body>
</html>